#xpin-panel {
  background: rgba(214, 67, 67, 1);
  color: #fff;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  line-height: 1.2em;
  overflow: hidden;
  position: fixed;
  padding: 14px 0;
  cursor: pointer;
  text-align: center;
  z-index: 2147483647; //max value

  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition:                 transform 0.2s ease;

  &.top {
    left: 0;
    right: 0;
    top: 0;
  }

  &.bottom {
    left: 0;
    right: 0;
    bottom: 0;
  }

  a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 14px 34px;
  }
  a.pin {
    border-right: 1px solid rgba(0,0,0,0.2);
  }
  a.search {
  }
}
